*.o
*.dSYM
*.csv
*.out
*.png
*.so
*.avi
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
build/darknet/*
!build/darknet/YoloWrapper.cs
.fuse*

*.cfg
*.weights
darknet
uselib

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

# CMake #
cmake-build-debug/
CMakeLists.txt
